*{
  margin: 0;
  padding: 0;
}

.Nav-logo{
  font-weight: 700;
}

.row{
  background-color: rgba(223, 216, 216, 0.328);
}

h1{
  text-align: center;
  text-transform: uppercase;
}

.btn-purchase{
  margin-left: 30px;
}

.add-to-cart-btn{
  width: 100%;
}

.cart-row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.icon-nav{
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}


.icon-nav:hover{
  background-color:rgba(181, 180, 180, 0.249);
  border: 1px solid black;
  border-radius: 10px;
}

.About-product{
  margin-top: 10px;
}


.btn-quantity-increment, .btn-quantity-decrement{
  margin: 5px;
  width: 20px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 15px;
}

.btn-quantity-increment:hover{
  border-color: green;
  color: green;
  background-color: rgba(94, 217, 94, 0.547);
}

.btn-quantity-decrement:hover{
  border-color: red;
  color: red;
  background-color: rgba(212, 57, 57, 0.547);
}


.column{
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
}


.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  color:  rgb(239, 174, 10);
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}
 label {
  color: rgb(239, 174, 10);
  transition: color 0.3s;
}